<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Postgraphile example</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src="https://unpkg.com/petite-vue" defer init></script>

  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">


  <script>
    // GraphQL endpoint URL
    const url = `${window.location.protocol}//${window.location.hostname}:5000/graphql`;

    window.search = (query) => fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ query: `
        query($matches: String) {
          pages(
            filter: {tsvectorColumn: {matches: $matches}}
            orderBy: TSVECTOR_COLUMN_RANK_DESC
            first: 10
          ) {
            nodes {
              name
              id
              data
            }
            totalCount
          }
        }
      `,
      variables: { 
        matches: query
      } 
    })
    }).then(response => response.json());


  </script>
</head>
<body class="bg-gray">
  <div v-scope="{ query: '', results: [], totalCount: null }" class="container grid-hero grid-sm py-2">
    <div class="d-flex" style="padding-top: 50px">
      <input v-model="query" class="form-input mx-1" type="text" id="input-example-1" placeholder="Search..."
        @keyup.enter="search(query).then(r => {results = r.data.pages.nodes; totalCount = r.data.pages.totalCount})"
      >
      <button class="mx-1 btn btn-primary btn-action"
        @click="search(query).then(r => {results = r.data.pages.nodes; totalCount = r.data.pages.totalCount})"
      ><i class="icon icon-search"></i></button>
    </div>
    <div class="card mx-1 my-2" v-for="result in results">
      <h4 class="card-header">{{result.name}}</h4>
      <p class="card-body">{{result.data.length < 1000 ? result.data : result.data.substring(0, 1000) + '...'}}</p>
    </div>
    <p class="mx-1 my-2" v-if="totalCount !== null">totalCount: {{totalCount}}</p>
  </div>
  </div>
</body>
</html>